@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #2F6FE5;
  --color-primary-hover: #245BBF;
  --color-dark: #010101;
}

@layer base {
  body {
    @apply text-dark bg-white font-sans;
  }
}
